*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {


}

header{

}

main{


}

div {
height: 100px;
width: 100px;
position: absolute;

}

nav{

}

footer{

}

.right{

}

.left{

}

.board{
height: 1200px;
width: 1200px;
background: lightgrey;
}

.character {
}


.desk {
  margin: 0;
  background: grey;
}

.food {
  background: pink;
}

.coworker {
  background: orange;
}

#friend-zone {
  height: 300px;
  width: 300px;
  position: relative;
  left: 900px;
}

#hero {
  background: blue;
  position: absolute;
  left: 1100px;
  top: 1100px;
}

#friend-icon {
  position: relative;
  left: 30%;
  background: green;

}
